.catalog {
    padding: 100px 50px;
}

@media screen and (max-width: 768px) {
    .catalog {
        padding: 60px 30px;
    }
}

@media screen and (max-width: 420px) {
    .catalog {
        padding: 40px 14px;
    }
}