.hamburger-menu {
  display: none;
}

.hamburger-menu__icon {
  font-size: 30px;
  color: var(--black-08);
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
    z-index: 100;
  }
}