.notFound {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 85px 0 45px 0;
}

.notFound__logo {
    width: 100px;
    height: 100px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.notFound__logo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0 0 185px 0;
}

.notFound__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0 0 45px 0;
}

.notFound__subtitle {
    max-width: 418px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: rgba(51, 51, 51, 0.8);
    margin: 0;
    padding: 0 0 50px 0;
}

.notFound__button-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 0 315px 0;
}

.notFound__button {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    background-color: var(--main-green);
    padding: 15px 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.notFound__button_type_main {
    background-color: #22B742;
    color: #FFFFFF;
}

.notFound__button_type_catalog {
    background-color: #FFFFFF;
    border: 2px solid #22B742;
    color: #22B742;
}

.notFound__button_type_catalog:hover {
    background-color: #22B742;
    border: 2px solid #22B742;
    color: #FFFFFF;
}

.notFound__footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin: 0;
}