.toast {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: var(--main-green);
    color: var(--white);
    border-radius: var(--border-radius);
    font-size: 18px;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility .3s linear, opacity .3s linear;
}

.toast_opened {
    visibility: visible;
    opacity: 1;
}