.cards {}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cardlist__errors {
  font-size: 32px;
  color: var(--title-color);
  margin: 0;
  padding: 0;
  text-align: center;
}