.page {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    transition: var(--transition);
}

.link:hover {
    opacity: 0.9;
    cursor: pointer;
    color: var(--main-green);
}

.button {
    font-family: inherit;
    text-decoration: none;
    outline: none;
    transition: var(--transition);
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.section-title {
    font-size: 32px;
    line-height: 39px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: var(--title-color);
    margin: 0;
    padding: 0 0 30px 0;
}

.section-subtitle {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0 0 80px 0;
}

.react-icons {
    vertical-align: middle;
    font-size: 20px;
    color: #FFF;
}