.drawer__list {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    flex: 1;
    margin: 40px 0 10px 0;
    padding: 0;
    overflow-y: auto;
}

.drawer__list-item {
    margin: 0;
    padding: 0;
}