.card {
    position: relative;
    max-height: 610px;
}

.card__image-container {
    max-width: 360px;
    height: 400px;
    background-image: url(../../images/card_placeholder.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 0 20px 0;
}

.card__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--black);
    margin: 0 0 8px 0;
}

.card__description {
    height: 66px;
    display: -webkit-box;
    max-width: 360px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    margin: 0 0 12px 0;
}

.card__prices-container {
    margin: 0 0 18px 0;
}

.card__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
}

.card__price_type_discount {
    color: var(--card-discount);
    margin: 0 0 0 5px;
    text-decoration: line-through;
}

.card__buttons-container {
    display: flex;
    gap: 0 8px;
}

.card__button {
    border-radius: var(--border-radius);
    font-weight: 700;
    font-size: 13px;
    padding: 10px 30px;
    border: none;
}

.card__button_type_more {
    color: var(--white);
    background-color: var(--main-green);
}

.card__button_type_buy {
    color: var(--main-green);
    background-color: transparent;
    border: 1px solid var(--main-green);
}

.card__button_type_buy:hover {
    color: var(--white);
    background-color: var(--main-green);
}

.card__chevron-container {
    display: flex;
    column-gap: 5px;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 15px;
}

.card__chevron {
    border-radius: var(--border-radius);
    color: var(--white);
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    padding: 5px 10px;
    margin: 0;
}

.card__chevron_new {
    background-color: var(--card-chevron-new);
}

.card__chevron_sale {
    background-color: var(--card-chevron-sale);
}

.card__chevron_hit {
    background-color: var(--card-chevron-hit);
}

@media screen and (max-width: 420px) {
    .card__image-container {
        max-width: 292px;
    }

    .card__description {
        max-width: 292px;
    }
}