.menu {
    outline: 1px solid lightseagreen;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8B8B8B;
}

.active {
    font-weight: 500;
    color: #000;
    cursor: default;
}