.header {
    background-color: var(--white-gray);
    border-bottom: 1px solid var(--light-gray);
}

.header__container {
    max-width: 1280px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}