.header {
    height: 80px;
    background-color: var(--white);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}