.userBar__cart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.userBar__cart:hover.userBar__cart svg,
.userBar__cart:hover.userBar__cart span {
    transition: var(--transition);
    color: var(--main-green);
}

.userBar__icon {
    font-size: 22px;
    color: var(--black-08);
}

.userBar__badge {
    min-width: 16px;
    height: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    text-align: center;
    background-color: var(--main-green);
    border-radius: 50px;
    box-shadow: 0 0 0 2px var(--white);
    padding: 1px 4px;
    position: absolute;
    top: -3px;
    right: 17px;
}

.userBar__text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: var(--black-08);
}

@media screen and (max-width: 768px) {
    .userBar__cart:hover.userBar__cart svg {
        color: transparent;
    }
}

@media screen and (max-width: 420px) {
    .userBar__icon {
        font-size: 30px;
    }

    .userBar__text {
        display: none;
    }
}