.drawer__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--white);
    border: 1px solid var(--gray-border-light);
    border-radius: var(--border-radius);
    padding: 20px;
}

.drawer-card__image-container {
    width: 70px;
    height: 70px;
    background-image: url(../../images/drawer-card-placeholder.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden;
}

.drawer-card__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.drawer-card__desc {
    min-width: 150px;
    max-width: 200px;
}

.drawer-card__title {
    max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.drawer-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.drawer-card__button-icon {
    font-size: 16px;
    color: var(--gray-icon);
}

.drawer-card__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    margin: 0 0 10px 0;
}

.drawer-card__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
    margin: 0;
}