@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

* {
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #333333;
  --black-08: rgba(51, 51, 51, 0.8);
  --black-06: rgba(51, 51, 51, 0.6);

  --gray: #5C5C5E;
  --light-gray: #F7F7F7;
  --gray-icon: #8B8B8B;
  --gray-border-light: #F3F3F3;
  --gray-border: #DBDBDB;

  --graphite: #202020;
  --ligt-graphite: #424242;

  --card-discount: #BDBDBD;
  --card-chevron-new: #1EA5FC;
  --card-chevron-sale: #FF4A4A;
  --card-chevron-hit: #8962f8;
  
  --main-green: #22B742;

  --error: #E83030;
  --error-bg: #F0BABA;
  --success: green;
  --success-bg: lightgreen;

  --tg: #1D98DC;
  --wa: #25D366;

  --transition: all 400ms ease;
  --border-radius: 8px;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Arian AMU', 'PT Sans', 'Lora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 420px;
    padding: 0 14px;
  }
}