@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

* {
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #333333;
  --black-08: rgba(51, 51, 51, 0.8);

  --gray: #5C5C5E;
  --light-gray: #CACAD6;
  --white-gray: #F6F4F5;
  
  --main-green: #22B742;

  --transition: all 400ms ease;
  --border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}