.map {
    position: relative;
}

.map__info {
    width: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: var(--white);
    opacity: .9;
    border-radius: var(--border-radius);
    padding: 30px;
}

.map__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 15px 0;
}

.map__address {
    color: var(--black);
}