.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 100px 0;
}

.search__container {
    position: relative;
}

.search__input {
    width: 500px;
    height: 64px;
    background-color: var(--light-gray);
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: var(--border-radius);
    outline: none;
    color: inherit;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.search__input:focus {
    background-color: var(--white);
    transition: var(--transition);
}

.search__input::placeholder {
    color: var(--gray-icon);
}

.search__button {
    position: absolute;
    width: 44px;
    height: 44px;
    border: none;
    background-color: var(--light-gray);
    cursor: pointer;
    border-radius: var(--border-radius);
    z-index: 10;
}

.search__button_clear {
    top: 10px;
    right: 10px;
}

.search__icon {
    color: var(--gray-icon);
}

@media screen and (max-width: 768px) {
    .search {
        padding: 60px 0;
    }

    .search__input {
        max-width: 360px;
    }
}

@media screen and (max-width: 420px) {
    .search {
        padding: 40px 0;
    }

    .search__input {
        max-width: 292px;
    }
}