.contacts {
    outline: 1px solid forestgreen;
    padding: 100px 0;
}

.contacts__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.contacts__info {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 250px;
    min-height: 68px;
    font-size: 16px;
    line-height: 18px;
    color: var(--title-color);
    text-align: center;
    padding: 10px 30px;
    border-radius: var(--border-radius);
    text-decoration: none;
}

.contacts__link p {
    margin: 0;
}

.contacts__link_phone {
    color: var(--title-color);
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.contacts__link_phone:hover,
.contacts__link_phone:hover svg {
    color: var(--main-green);
    transition: var(--transition);
}

.contacts__link_phone span {
    font-size: 12px;
}

.contacts__link_email {
    color: var(--title-color);
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.contacts__link_email:hover,
.contacts__link_email:hover svg {
    color: var(--main-green);
    transition: var(--transition);
}

.contacts__link_email span {
    font-size: 12px;
}

.contacts__link_whatsapp {
    color: #FFF;
    background-color: #25D366;
}

.contacts__link_whatsapp:hover,
.contacts__link_whatsapp:hover svg {
    color: #000;
    transition: var(--transition);
}

.contacts__link_telegram {
    color: #FFF;
    background-color: #1D98DC;
}

.contacts__link_telegram:hover,
.contacts__link_telegram:hover svg {
    color: #000;
    transition: var(--transition);
}

.contacts__link-icon {
    color: #FFF;
}

.contacts__link-icon_black {
    color: var(--title-color);
}



.contacts__form {
    width: 400px;
}

.contacts__form-div {
    margin-bottom: 20px;
}

.contacts__form-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
    outline: none;
    border-radius: var(--border-radius);
    padding: 1.5rem;
}

.contacts__form-area textarea {
    resize: none;
}

.contacts__form-button {
    width: 100%;
    border: none;
    background-image: linear-gradient(90deg, #82c91e 5%, #38d9a9 95%);
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 18px;
    transition: var(--transition);
}

.contacts__form-button:disabled {
    background-color: lightgray;
    background-image: none;
    pointer-events: none;
}

.contacts__form-error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E83030;
    background-color: #F0BABA;
    margin: 20px 0;
    padding: 20px;
    border-radius: var(--border-radius);

    visibility: hidden;
    opacity: 0;
    transition: visibility .3s linear, opacity .3s linear;
}

.contacts__form-error_show {
    visibility: visible;
    opacity: 1;
}

.contacts__form-error_green {
    background-color: lightgreen;
    color: green;
}

.contacts__form-error_text {
    margin: 0;
}