.contacts {
    padding: 100px 50px;
}

.contacts__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0 40px;
}

.contacts__info {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px 0;
}

.contacts__link {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    font-size: 16px;
    line-height: 18px;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

.contacts__link svg {
    color: currentColor;
}

.contacts__link p {
    margin: 0;
}

.contacts__link_phone {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.contacts__link_phone:hover {
    color: var(--main-green);
    border: 1px solid var(--main-green);
}

.contacts__link_phone span {
    font-size: 12px;
}

.contacts__link_email {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.contacts__link_email:hover {
    color: var(--main-green);
    border: 1px solid var(--main-green);
}

.contacts__link_email span {
    font-size: 12px;
}

.contacts__link_whatsapp {
    color: var(--white);
    background-color: var(--wa);
}

.contacts__link_whatsapp:hover {
    color: var(--black);
}

.contacts__link_telegram {
    color: var(--white);
    background-color: var(--tg);
}

.contacts__link_telegram:hover {
    color: var(--black);
}

.contacts__link-icon {
    color: var(--white);
}

.contacts__link-icon_black {
    color: var(--black);
}

.contacts__form {
    width: 400px;
    max-height: 450px;
}

.contacts__form-div {
    margin-bottom: 20px;
}

.contacts__form-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
    outline: none;
    border-radius: var(--border-radius);
    padding: 1.5rem;
}

.contacts__form-area textarea {
    resize: none;
}

.contacts__form-button {
    width: 100%;
    height: 60px;
    border: none;
    background-color: var(--main-green);
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    padding: 18px;
    transition: var(--transition);
}

.contacts__form-button:disabled {
    background-color: var(--light-gray);
    background-image: none;
    pointer-events: none;
}

.contacts__form-error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--error);
    background-color: var(--error-bg);
    border-radius: var(--border-radius);
    margin: 20px 0;
    padding: 20px;

    visibility: hidden;
    opacity: 0;
    transition: visibility .3s linear, opacity .3s linear;
}

.contacts__form-error_show {
    visibility: visible;
    opacity: 1;
}

.contacts__form-error_green {
    color: var(--success);
    background-color: var(--success-bg);
}

.contacts__form-error_text {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .contacts {
        padding: 100px 30px;
    }

    .contacts__wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 60px 0;
    }

    .contacts__form {
        width: 80%;
    }
}

@media screen and (max-width: 420px) {
    .contacts {
        padding: 40px 14px;
    }

    .contacts__info {
        width: 100%;
    }

    .contacts__link {
        width: 100%;
    }

    .contacts__form {
        width: 100%;
    }
}