.notFound {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.notFound__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
}

.notFound__logo {
    width: 100px;
    height: 100px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.notFound__logo-title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    margin: 0;
}

.notFound__title {
    font-size: 64px;
    line-height: 83px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    margin: 0;
    padding: 0 0 10px 0;
}

.notFound__subtitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: var(--black-08);
    margin: 0;
}

.notFound__button-container {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.notFound__button {
    min-width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.notFound__button_primary {
    background-color: var(--main-green);
    color: var(--white);
}

.notFound__button_secondary {
    color: var(--main-green);
    background-color: transparent;
    border: 1px solid var(--main-green);
}

.notFound__button_secondary:hover {
    color: var(--white);
    background-color: var(--main-green);
    border: 1px solid var(--main-green);
}

.notFound__footer {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--black);
    margin: 0;
}

@media screen and (max-width: 768px) {
    .notFound__logo {
        width: 50px;
        height: 50px;
    }

    .notFound__logo-title {
        font-size: 20px;
        line-height: 26px;
    }

    .notFound__title {
        width: 100%;
        font-size: 24px;
        line-height: 31px;
    }

    .notFound__subtitle {
        width: 100%;
        font-size: 16px;
        line-height: 21px;
    }

    .notFound__button-container {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        gap: 15px 0;
    }

    .notFound__footer {
        font-size: 16px;
        line-height: 21px;
    }
}